[Unit]
Description=Run sync-mail service every 20 minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnBootSec=180
OnCalendar=*:0/20
Unit=sync-mail.service

[Install]
WantedBy=timers.target
