*customization: -color
XTerm*on3Clicks:  regex [^ \n]+
XTerm*on4Clicks:  regex [^#$]+
XTerm*on5Clicks:  line
XTerm*background: black
XTerm*foreground: white
term*visualBell: true
XTerm*bellIsUrgent: true
XTerm*locale: true
XTerm*saveLines: 40960
XTerm.termName: xterm-256color
XTerm.vt100.boldMode: false
XTerm.vt100.boldFont:
